body{
    margin:0;
    padding:0;
    font-family: "Open Sans";
    font-size: 10pt;
}

#mapping {
    float: left;
    width:300px;
    display: inline-block;
}

#viewerContainer{
    width:800px;
    height:600px;
    display: inline-block;
}

#treeContainer {
    width:1px;
    left:-1000px;
    top:-1000px;
    position:absolute;
    visibility: hidden;
    height: 1px;
}

#dataContainer {
    width:1px;
    left:-1000px;
    top:-1000px;
    position:absolute;
    visibility: hidden;
    height: 1px;
}

canvas {
    display: block;
    width: 800px;
    height: 600px;
    cursor: default;
}